# OSX
.DS_Store

# iOS
ios/builds/
ios/build/
ios/certs
/ios/Pods/
GoogleService-Info.plist
*.xcarchive
.aab
.apk
.ipa

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
IDEWorkspaceChecks.plist

# Android
android/certs
*.keystore
google-services.json
builds/
build/
.gradle
local.properties

# IntelliJ
.idea
*.iml
*.hprof

# node.js
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
# https://docs.fastlane.tools/best-practices/source-control/
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby
/vendor/bundle/

# Dotenv
.env
!.env.example
!.env.sample

# Caches
.jest/
.eslintcache
coverage/

# Storybook build
storybook-static/

# Logs
logs/

# Pact
pacts/

# Sentry
sentry.properties
