react-native-block-screenshot/lib
react-native-salesforce-messaging-in-app/lib
node_modules
**/node_modules
**/.git
storybook-static
ios/build
ios/Pods
.jest
coverage
android/.gradle
android/.idea
android/build
android/app/build