<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_VARIANT</key>
	<string>$(BUILD_VARIANT)</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>nl</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>amsterdam</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>amsterdam</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>telprompt</string>
		<string>mailto</string>
		<string>http</string>
		<string>https</string>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>De Amsterdam app wil toegang tot Bluetooth om afvalcontainers te openen.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>De Amsterdam app wil toegang tot Bluetooth om afvalcontainers te openen.</string>
	<key>NSCameraUsageDescription</key>
	<string>De Amsterdam app wil toegang tot uw camera om foto’s te kunnen maken en te delen.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID kan nodig zijn wanneer wordt gevraagd om met biometrische gegevens te authenticeren.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Dit is nodig om locatiegebonden informatie te kunnen tonen.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>PreciseLocationAddressConstructionWork</key>
		<string>De Amsterdam app wil uw precieze locatie weten om werkzaamheden in de buurt te tonen.</string>
		<key>PreciseLocationAddressBurningGuide</key>
		<string>De Amsterdam app wil uw precieze locatie weten om het stookadvies bij u in de buurt te tonen.</string>
		<key>PreciseLocationAddressParking</key>
		<string>De Amsterdam app wil uw precieze locatie weten om parkeerpalen in uw buurt te tonen.</string>
		<key>PreciseLocationAddressPollingStations</key>
		<string>De Amsterdam app wil uw precieze locatie weten om stembureaus in uw buurt te tonen.</string>
		<key>PreciseLocationAddressLookup</key>
		<string>De Amsterdam app wil uw precieze locatie weten om een adres op te zoeken.</string>
		<key>PreciseLocationAddressWasteGuide</key>
		<string>De Amsterdam app wil uw precieze locatie weten afvalinformatie bij u in de buurt te tonen.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Dit is nodig om locatiegebonden informatie te kunnen tonen.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>De Amsterdam app wil toegang tot je foto’s om die te kunnen delen.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AmsterdamSans-ExtraBold.otf</string>
		<string>AmsterdamSans-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
