@font-face {
    font-family: "AvenirNext-Bold";
    src: url('../src/assets/fonts/AvenirNext-Bold.ttf');
}

@font-face {
    font-family: "AvenirNext-DemiBold";
    src: url('../src/assets/fonts/AvenirNext-DemiBold.ttf');
}

@font-face {
    font-family: "AvenirNext-Regular";
    src: url('../src/assets/fonts/AvenirNext-Regular.ttf');
}
